@{
    ViewBag.Title = "About";
}

<h1>
    BNHA
</h1>

<h2>
    Tokyo Ghoul
</h2>

<p>
    my name is Naruto<br />
    i like manga and<hr /> orange juice
</p>

<div>
    <ol>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>

    </ol>
    <ul>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>

    </ul>
    <button type="button" class="btn icon-next">
    </button>

    <table>
        <tr>
            <td>Name</td>
            <td>Weapon</td>
        </tr>
        <tr>
            <td>Ichigo</td>
            <td>Sword</td>
        </tr>
        <tr>
            <td>Eren</td>
            <td>Titan</td>
        </tr>
    </table>


</div>


<a href="https://www.google.com" style="color: sienna">google</a>


<textarea></textarea>